<a href="https://colab.research.google.com/github/alexanderbeleno16/algoritmo_exposicion_parcial2/blob/main/algoritmo_exposicion_parcial2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **PARCIAL CORTE 2 MI 2024-1 NOCTURNO**

## CORPORACIÓN UNIVERSITARIA LATINOAMERICANA

### PRESENTADO POR:

### ALEXANDER BELEÑO, VANESSA BAENA, ANDREA JABBA, STIVEN MORALES

## **INFORMACIÓN RELACIONADA AL DATASET**

Estos datos estudian si una persona aceptará el cupón que le recomiendan en diferentes escenarios de conducción.

Estos datos se recopilaron a través de una encuesta en Amazon Mechanical Turk. La encuesta describe diferentes escenarios de conducción, incluido el destino, la hora actual, el clima, el pasajero, etc., y luego pregunta a la persona si aceptará el cupón si es el conductor. Para obtener más información sobre el conjunto de datos, consulte el artículo: Wang, Tong, Cynthia Rudin, Finale Doshi-Velez, Yimin Liu, Erica Klampfl y Perry MacNeille. "Un marco bayesiano para aprender conjuntos de reglas para una clasificación interpretable". La Revista de Investigación sobre Aprendizaje Automático 18, no. 1 (2017): 2357-2393.

## **REFERENCIA DEL DATASET**
https://archive.ics.uci.edu/dataset/603/in+vehicle+coupon+recommendation

## **IMPORTACIÓN DE LIBRERIAS**
En esta sección del código se realizan las importaciones correspondientes a cada librería que permitiran la realización exitosa de la lectura y el tratamiento de los datos del archivo ".csv".

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# Normalización
from sklearn.preprocessing import MinMaxScaler

# Pruebas y Entrenamiento
from sklearn.model_selection import train_test_split

# Aplicar Modelo Gradient(GBM)
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.metrics import classification_report, confusion_matrix


**Pandas (pd):** Para manipulación y análisis de datos, nos ofrece los dataframe.

**NumPy (np):** Para operaciones Matematicas/numéricas.

**Matplotlib.pyplot (plt):** Para crear gráficos/visualizaciones de datos.



**MinMaxScaler:** Para realizar la Normalización.

**train_test_split:** Para realizar las pruebas y Entrenamiento.

**GradientBoostingClassifier, classification_report, confusion_matrix:** Para aplicar el modelo Gradient(GBM).

## **CARGUE Y LECTURA DEL ARCHIVO CSV**
En esta sección del código se carga los datos del archivo CSV en un objeto llamado data_frame

In [ ]:
data_frame = pd.read_csv('drive/MyDrive/files/in-vehicle-coupon-recommendation.csv')


**Pandas (pd):** Para manipulación y análisis de datos, nos ofrece los dataframe.

**NumPy (np):** Para operaciones Matematicas/numéricas.

**Matplotlib.pyplot (plt):** Para crear gráficos/visualizaciones de datos.



**MinMaxScaler:** Para realizar la Normalización.

**train_test_split:** Para realizar las pruebas y Entrenamiento.

**GradientBoostingClassifier, classification_report, confusion_matrix:** Para aplicar el modelo Gradient(GBM).

## **Métodos para el análisis exploratorio (univariado y bivariado)**

### **info()**
Proporciona información sobre el DataFrame, incluyendo el número de filas y columnas, los tipos de datos en cada columna y la cantidad de memoria utilizada.

In [ ]:
data_frame.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12684 entries, 0 to 12683
Data columns (total 26 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   destination           12684 non-null  object
 1   passanger             12684 non-null  object
 2   weather               12684 non-null  object
 3   temperature           12684 non-null  int64
 4   time                  12684 non-null  object
 5   coupon                12684 non-null  object
 6   expiration            12684 non-null  object
 7   gender                12684 non-null  object
 8   age                   12684 non-null  object
 9   maritalStatus         12684 non-null  object
 10  has_children          12684 non-null  int64
 11  education             12684 non-null  object
 12  occupation            12684 non-null  object
 13  income                12684 non-null  object
 14  car                   108 non-null    object
 15  Bar                   12577 non-null  object
 16  CoffeeHouse           12467 non-null  object
 17  CarryAway             12533 non-null  object
 18  RestaurantLessThan20  12554 non-null  object
 19  Restaurant20To50      12495 non-null  object
 20  toCoupon_GEQ5min      12684 non-null  int64
 21  toCoupon_GEQ15min     12684 non-null  int64
 22  toCoupon_GEQ25min     12684 non-null  int64
 23  direction_same        12684 non-null  int64
 24  direction_opp         12684 non-null  int64
 25  Y                     12684 non-null  int64
dtypes: int64(8), object(18)
memory usage: 2.5+ MB


**Pandas (pd):** Para manipulación y análisis de datos, nos ofrece los dataframe.

**NumPy (np):** Para operaciones Matematicas/numéricas.

**Matplotlib.pyplot (plt):** Para crear gráficos/visualizaciones de datos.



**MinMaxScaler:** Para realizar la Normalización.

**train_test_split:** Para realizar las pruebas y Entrenamiento.

**GradientBoostingClassifier, classification_report, confusion_matrix:** Para aplicar el modelo Gradient(GBM).

### **describe()**
Calcula estadísticas descriptivas para cada columna numérica, como media, desviación estándar, mínimo, máximo, etc.

In [ ]:
data_frame.describe()

,temperature,has_children,toCoupon_GEQ5min,toCoupon_GEQ15min,toCoupon_GEQ25min,direction_same,direction_opp,Y
count,12684.000000,12684.000000,12684.0,12684.000000,12684.000000,12684.000000,12684.000000,12684.000000
mean,63.301798,0.414144,1.0,0.561495,0.119126,0.214759,0.785241,0.568433
std,19.154486,0.492593,0.0,0.496224,0.323950,0.410671,0.410671,0.495314
min,30.000000,0.000000,1.0,0.000000,0.000000,0.000000,0.000000,0.000000
25%,55.000000,0.000000,1.0,0.000000,0.000000,0.000000,1.000000,0.000000
50%,80.000000,0.000000,1.0,1.000000,0.000000,0.000000,1.000000,1.000000
75%,80.000000,1.000000,1.0,1.000000,0.000000,0.000000,1.000000,1.000000
max,80.000000,1.000000,1.0,1.000000,1.000000,1.000000,1.000000,1.000000

### **head()**
Muestra las primeras filas del DataFrame, lo que permite una vista previa rápida de los datos.

In [ ]:
data_frame.head()

,destination,passanger,weather,temperature,time,coupon,expiration,gender,age,maritalStatus,...,CoffeeHouse,CarryAway,RestaurantLessThan20,Restaurant20To50,toCoupon_GEQ5min,toCoupon_GEQ15min,toCoupon_GEQ25min,direction_same,direction_opp,Y
0,No Urgent Place,Alone,Sunny,55,2PM,Restaurant(<20),1d,Female,21,Unmarried partner,...,never,NaN,4~8,1~3,1,0,0,0,1,1
1,No Urgent Place,Friend(s),Sunny,80,10AM,Coffee House,2h,Female,21,Unmarried partner,...,never,NaN,4~8,1~3,1,0,0,0,1,0
2,No Urgent Place,Friend(s),Sunny,80,10AM,Carry out & Take away,2h,Female,21,Unmarried partner,...,never,NaN,4~8,1~3,1,1,0,0,1,1
3,No Urgent Place,Friend(s),Sunny,80,2PM,Coffee House,2h,Female,21,Unmarried partner,...,never,NaN,4~8,1~3,1,1,0,0,1,0
4,No Urgent Place,Friend(s),Sunny,80,2PM,Coffee House,1d,Female,21,Unmarried partner,...,never,NaN,4~8,1~3,1,1,0,0,1,0

### **unique()**
Obtiene los valores unicos de una columna en especifico.

In [ ]:
# Obtener los valores únicos por cada columna
valores_unicos_por_columna = {}
for columna in data_frame.columns:
    valores_unicos_por_columna[columna] = data_frame[columna].unique()

# Mostrar los valores únicos por cada columna
for columna, valores_unicos in valores_unicos_por_columna.items():
    print(f"Valores únicos en la columna '{columna}':")
    print(valores_unicos)
    print()

Valores únicos en la columna 'destination':
['No Urgent Place' 'Home' 'Work']

Valores únicos en la columna 'passanger':
['Alone' 'Friend(s)' 'Kid(s)' 'Partner']

Valores únicos en la columna 'weather':
['Sunny' 'Rainy' 'Snowy']

Valores únicos en la columna 'temperature':
[55 80 30]

Valores únicos en la columna 'time':
['2PM' '10AM' '6PM' '7AM' '10PM']

Valores únicos en la columna 'coupon':
['Restaurant(<20)' 'Coffee House' 'Carry out & Take away' 'Bar'
 'Restaurant(20-50)']

Valores únicos en la columna 'expiration':
['1d' '2h']

Valores únicos en la columna 'gender':
['Female' 'Male']

Valores únicos en la columna 'age':
['21' '46' '26' '31' '41' '50plus' '36' 'below21']

Valores únicos en la columna 'maritalStatus':
['Unmarried partner' 'Single' 'Married partner' 'Divorced' 'Widowed']

Valores únicos en la columna 'has_children':
[1 0]

Valores únicos en la columna 'education':
['Some college - no degree' 'Bachelors degree' 'Associates degree'
 'High School Graduate' 'Graduate degree (Masters or Doctorate)'
 'Some High School']

Valores únicos en la columna 'occupation':
['Unemployed' 'Architecture & Engineering' 'Student'
 'Education&Training&Library' 'Healthcare Support'
 'Healthcare Practitioners & Technical' 'Sales & Related' 'Management'
 'Arts Design Entertainment Sports & Media' 'Computer & Mathematical'
 'Life Physical Social Science' 'Personal Care & Service'
 'Community & Social Services' 'Office & Administrative Support'
 'Construction & Extraction' 'Legal' 'Retired'
 'Installation Maintenance & Repair' 'Transportation & Material Moving'
 'Business & Financial' 'Protective Service'
 'Food Preparation & Serving Related' 'Production Occupations'
 'Building & Grounds Cleaning & Maintenance' 'Farming Fishing & Forestry']

Valores únicos en la columna 'income':
['$37500 - $49999' '$62500 - $74999' '$12500 - $24999' '$75000 - $87499'
 '$50000 - $62499' '$25000 - $37499' '$100000 or More' '$87500 - $99999'
 'Less than $12500']

Valores únicos en la columna 'car':
[nan 'Scooter and motorcycle' 'crossover' 'Mazda5' 'do not drive'
 'Car that is too old to install Onstar :D']

Valores únicos en la columna 'Bar':
['never' 'less1' '1~3' 'gt8' nan '4~8']

Valores únicos en la columna 'CoffeeHouse':
['never' 'less1' '4~8' '1~3' 'gt8' nan]

Valores únicos en la columna 'CarryAway':
[nan '4~8' '1~3' 'gt8' 'less1' 'never']

Valores únicos en la columna 'RestaurantLessThan20':
['4~8' '1~3' 'less1' 'gt8' nan 'never']

Valores únicos en la columna 'Restaurant20To50':
['1~3' 'less1' 'never' 'gt8' '4~8' nan]

Valores únicos en la columna 'toCoupon_GEQ5min':
[1]

Valores únicos en la columna 'toCoupon_GEQ15min':
[0 1]

Valores únicos en la columna 'toCoupon_GEQ25min':
[0 1]

Valores únicos en la columna 'direction_same':
[0 1]

Valores únicos en la columna 'direction_opp':
[1 0]

Valores únicos en la columna 'Y':
[1 0]